*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  scroll-behavior: smooth;
}

:root{
  --button-width:  30px;
  --button-height: calc(var(--button-width) * 0.8);
  --rectangle-height: calc(var(--button-width) * 0.1);
  --rectangle-radius: calc(var(--button-width) * 0.04);
  --translate: calc(var(--button-width) * 0.17)
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #80ED99;
}

.logo img{
  width: 40px;
  height: 40px;
}

.menu li{
  list-style: none;
  display: inline-block;
}

.menu li a{
  position: relative;
  color: #22577A;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease-in-out;
  margin-right: 22px;
}

.menu li a:hover{
  color: white;
}

/* burger */
.fancy-burger{
  display: none;
  position: relative;
  width: var(--button-width);
  height: var(--button-height);
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
  z-index: 2;
}

.rectangle{
  position: absolute;
  height: var(--rectangle-height);
  background: #22577A;
  border-radius: var(--rectangle-radius);
  transition: transform 0.65s;
}
.rectangle--small{
  width: calc(var(--button-width)/2);
}
.rectangle--top{
  top: 0;
  left: 0;
  transform-origin: top left;
}
.rectangle--middle{
  top: 50%;
  left: 0;
  width: var(--button-width);
  transform: translateY(-50%);
}
.rectangle--bottom{
  bottom: 0;
  right: 0;
  transform-origin: bottom right ;
}

.rectangle--top.open{
  transform: translateX(var(--translate)) rotate(45deg);
}
.rectangle--middle.open{
  transform:translateY(-50%) rotate(-45deg);
}
.rectangle--bottom.open{
  transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
}

/*box for mobile */
.box{
  position: fixed;
  top: 3.3rem;
  right: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #80ED99, #C7F9CC);
  opacity: 0;
  transform: scale(0);
  transform-origin: top right;
  transition-property: opactiy, transform;
  transition-duration: 0.65s;
}
.box-menu{
  margin-top: 20%;
}
.box-menu a{
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin-bottom: 2rem;
  color: #22577A;
}
.box.open{
  opacity: 1;
  transform: scale(1);
} 

/* hero section */
.hero{
  background-color: #C7F9CC;
  height: 90vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img, .hello{
  width: 100%;
  max-width: 400px;
  height: auto;
}

.hero-one button{
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: transparent;
  border-radius: 5px;
  background-color: #80ED99;
  transition: all 0.3s ease-in-out;
}
.hero-one button:hover{
  transform: scale(1.1);
}
.hero-one button a{
  text-decoration: none;
  color: #22577A;
}

/* about us */
.aboutUs{
  position: relative;
  background-color: #80ED99;
}

.all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

#about{
  background-color: #57CC99;
  padding: 0.8rem;
  border-radius: 25px;
  position: absolute;
  color: white;
  right: 0;
  top: -1.2rem;
}

.about_text{
  text-align: center;
  margin: 3rem 0;
  line-height: 1.7;
  font-size: 18px;
  /* font-weight: 700; */
  color: #22577A;
}

/* about photo */
.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C7F9CC;
  padding: 3rem 0rem;
}



/* services */
.OurServices{
  margin-bottom: 2rem;
  max-width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* margin-top: 2rem; */
}

#service, #port{ 
  background-color: #57CC99;
  padding: 0.8rem;
  border-radius: 25px;
  position: absolute;
  color: white;
  left: 13%;
  top: -1.2rem;
}

.services img{
  /* width: 200px; */
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-left: 50%;
  transform: translateX(-50%);
}
.services p{
  text-align: center;
  color: #22577A;
}


/* packages */

.packages{
  background-color: #C7F9CC;
  color: #22577A;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-bottom: 3rem;
}

#pack{
  background-color: #57CC99;
  padding: 0.8rem;
  border-radius: 25px;
  position: absolute;
  color: white;
  right: 13%;
  top: -1.2rem;
}

.pack-heading{
  text-align: center;
  color: #22577A;
  padding-top: 4rem;
  padding-bottom: 3rem;
  margin-left: 20px;
  margin-right: 20px;
}

.quality_plus img{
  width: 100%;
  max-width: 100px;
  height: auto;
}

/* portfolio */
.portforlio{
  width: 70vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin:0 auto;
}

/* .portforlio img{
  cursor: pointer;
  width: 100%;
  max-width: 1000px;
  height: auto;
  opacity: 1;
} */

.milk{
  width: 100%;
  max-width: 100%;
  height: auto;
}

.burger, .meat, .soap{
  display: flex;
  width: 100%;
  max-width: 32%;
  height: auto;
}
.burger{
  margin-right: 2%;
}
.meat{
  margin-right: 2%;
}

.val, .val2{
  width: 100%;
  max-width: 49%;
  height: auto;
}
.val{
  margin-right: 2%;
}

.momo{
  width: 100%;
  max-width: 100%;
  height: auto;
}


/* footer */
footer{
  padding: 1rem;
  align-items: center;
  background-color: #C7F9CC;
  color: #22577A;
  text-align: center;
}











                                /* responsive */

/* tablet */
@media (max-width: 768px){
  .menu li{
    display: none;
  }
  .fancy-burger{
    display: block;
  }
  .navbar{
    padding: 0.3rem;
  }

  /* hero section */
  .hero{
    padding: 0rem 1.5rem;
    flex-direction: column-reverse;
  }
  .hero img{
    max-width: 300px;
  }
  .hero-one button{
    display: none;
  }

  /* about us */
  .all{
    width: 80vw;
  }
  .about_text{
    text-align: center;
  }

  /* packages */
  .packages{
    width: 90vw;
    /* flex-direction: column; */
    justify-content: space-between;
  }

  /* protfolio */
  .portforlio{
    width: 90vw;
  }
}

@media (max-width:480px){
  .photo{
    flex-direction: column;
  }

  /* packages */
  .packages{
    width: 100vw;
    flex-direction: column;
    justify-content: center;
  }
}

#preloader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #80ED99;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}


.loader {
  position: absolute;
  margin-top: 80vh;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #22577A;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}